<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IG MVP</a>
        <% if current_user %>
          <p class="navbar-text navbarleft"> <%= link_to "Sign Out", logout_path %></p>
        <% else %>
          <p class="navbar-text navbar-left"> <%= link_to "Sign in", login_path %> </p>
        <% end %>

    </div>

  </div>
</nav>