<h2>About</h2>
<p>Another application built to have fun with Instagram API.</p>

<p>
  <ul>
    <li> I'm Rory</li>
    <li> <a href="http://rorywalker.com/">Blog</a> </li>
    <li>Twitter - <a href="http://twitter.com/redrory">@redrory</a> </li>
  </ul>
</p>

<p>Currently show the top ranks photo at your favorite strip clubs.</p>
Next features:
<ol>
  <li>Coming soon</li>
</ol>
