<h2>About</h2>
<p>Fun application built to have fun with Instagram API.</p>

<p>
  <ul>
    <li> I'm Rory</li>
    <li> <a href="http://rorywalker.com/">Blog</a> </li>
    <li>Twitter - <a href="http://twitter.com/redrory">@redrory</a> </li>
  </ul>
</p>

<p>Currently it only show you, your top 5 MVP.</p>
Next features:
<ol>
  <li>Male/Female MVPs</li>
  <li>Location mapping</li>
</ol>
