
<p>
  <% if current_user %>
    <%= image_tag (current_user.image) %>
    <%= current_user.name %>
  <% end %>
  <blockquote>
  <p>Find the stripclubs that are already poppin!</p>
  <small>Rory <cite title="Source Title">StripperGram</cite></small>
</blockquote>
</p>

<div id="mvp_button">
<%= link_to 'Taboo Strip Club', photos_path, class: "btn btn-success btn-lg",:data => { :disable_with => "<i class='fa fa-spinner fa-spin'></i> Processing..." } %>

</div>

